<header class="masthead">
    <h1 class="masthead-heading">Tweetful</h1>
    <p class="masthead-intro">Making The Internet a Little More Thoughtful</p>
</header>

<section class="info">
    <header>
        <h2>Peter Lonestar</h2>
        <h3>Founder</h3>
    </header>
    <p>Blah Blah blah blah blah Blah Blah blah blah blah Blah Blah blah blah blah Blah Blah blah blah blah Blah Blah blah blah blah</p>
</section>

<section class="info">
    <header>
        <h2>Bill Billerson</h2>
        <h3>CFO</h3>
    </header>
    <p>Blah Blah blah blah blah Blah Blah blah blah blah Blah Blah blah blah blah Blah Blah blah blah blah</p>
</section>

<section class="info">
    <header>
        <h2>You!</h2>
        <h3>CTO</h3>
    </header>
    <p>Blah Blah blah blah blah Blah Blah blah blah blah Blah Blah blah blah blah Blah Blah blah blah blah Blah Blah blah blah blah</p>
</section>

<footer>
    Contact us: admin@tweetful.io
</footer>