<%= render :partial => 'shared/left_nav' %>
<h4>Who to follow</h4>
<p>Tweetful accounts in alpabetical order.</p>
<hr />
<ol>
  <% @users.each do |user| %>
    <li>
      <%= content_tag :strong, user.name, :class => 'pull-left text-middle' %>
      <%= content_tag :span, "@"+user.username, :class => 'text-muted pad-10 text-middle' %>
      <%= follow_link(user) %>
      <div class="clearfix"></div>
    </li>
    <li><hr></li>
  <% end %>
</ol>